<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beetle.onlinevideo.dao.ToolDao">

    <resultMap id="toolMap" type="Tool">
        <id property="id" column="id" javaType="Integer"></id>
        <result property="name" column="name" javaType="String"></result>
        <result property="toolUrl" column="tool_url" javaType="String"></result>
        <result property="iconUrl" column="icon_url" javaType="String"></result>
        <result property="typeId" column="type_id" javaType="Integer"></result>
    </resultMap>



    <select id="selectAll" resultType="list" resultMap="toolMap">
        select * from tool
    </select>


    <select id="selectToolByTypeId" resultType="list" resultMap="toolMap" parameterType="map">
        select * from tool where type_id = #{typeId}
    </select>

    <insert id="insert" parameterType="Tool">
        insert into tool(name,tool_url,icon_url,type_id) values (
        #{name},
        #{toolUrl},
        #{iconUrl},
        #{typeId}
        )
    </insert>



</mapper>