<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beetle.onlinevideo.dao.UserDao">
    <resultMap id="userMap" type="User">
        <id column="id" property="id" javaType="Integer"></id>
        <result column="telephone" property="telephone" javaType="java.lang.String"></result>
        <result column="user_name" property="userName" javaType="java.lang.String"></result>
        <result column="password" property="password" javaType="java.lang.String"></result>
        <result column="email" property="email" javaType="java.lang.String"></result>
        <result column="vip_flag" property="vipFlag" javaType="Integer"></result>
        <result column="create_time" property="createTime" javaType="cn.hutool.core.date.DateTime"></result>
    </resultMap>
    
    <insert id="insertUser" parameterType="com.beetle.onlinevideo.entity.User">
        insert into user(telephone,user_name,password,email,vip_flag,flag,create_time) values(
        #{telephone},
        #{userName},
        #{password},
        #{email},
        #{vipFlag},
        1,
        now());
    </insert>

    <select id="selectAll" resultMap="userMap" resultType="list">
        select id,telephone,user_name,password,email,vip_flag,flag,create_time from user where flag=1
    </select>


    <select id="selectOne" parameterType="map" resultMap="userMap">
        select id,telephone,user_name,password,email,vip_flag,flag,create_time from user where 1=1
        <if test="id !=null and id!=''">
            and user.id=#{id}
        </if>
        <if test="telephone !=null and telephone !=''">
            and user.telephone = #{telephone}
        </if>
        <if test="userName !=null and userName !=''">
            and user.user_name =#{userName}
        </if>
        <if test="password != null and password != ''">
            AND user.password =#{password}
        </if>
        <if test="email != null and email != ''">
            AND user.email =#{email}
        </if>
        <if test="vipFlag != null and vipFlag !=''">
            AND user.vip_flag =#{vipFlag}
        </if>
        <if test="vipFlag != null and vipFlag !=''">
            AND user.flag =#{flag}
        </if>
        <if test="createTime != null and createTime!=''">
            AND user.create_time =#{createTime}
        </if>
    </select>


    <update id="updateVip" parameterType="Integer">
        update user set vip_flag=1 where id=#{uid}
    </update>
    <update id="updateFlag" parameterType="Integer">
        update user set flag=0 where id=#{uid}
    </update>

    <!-- 修改数据 -->
    <update id="updateUser" parameterType="user">
        UPDATE user
        <set>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="vipFlag != null">
                vip_flag = #{vipFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime}
            </if>
            <if test="flag != null">
                flag = #{flag}
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>